.img_exercice {
	align-self: center;
}
#enunciado_box {
	padding: 5%;
}
#form1 {
	display: block;
}
#submitbutton, #form2, #submitbutton2, #form3, #submitbutton3, #form4, #submitbutton4, #form5, #submitbutton5 {
	display: none;
}